<!DOCTYPE html>
<html lang="en">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/bootstrap.css" rel="stylesheet">

  <title>Guestbook</title>

  <!-- Bootstrap core CSS -->



<body class="container">
  <content>

    <br> <br>
  <h2 style="text-align:center; color:orange;">Try to delete a movie by title</h2>


  <div class="keskitetty">

    <br>
    <form method="post" action="/delete">

      <input type="text" name="name" /> <br /> <br>

      <input type="submit" value="Delete" />
    </form>

    <br>
    <div class="listaus">
        <table>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Cast</th>

          </tr>
          <% for(var i = 0; i < movies.length; i++) { %>
          <tr>
            <td>
              <%= movies[i].title %>
            </td>
            <td>
              <%= movies[i].year %>
            </td>
            <td>
              <%= movies[i].cast %>
            </td>
          </tr>
          <% } %>
        </table> <br>



