<div class="form-group">
<h1>Add new data</h1>

<form method="post" action="/newmessage">
<h2>title</h2> <input type="text" name="title"><br>
<h2>year</h2><input type="text" name="year"><br>
<h2>cast</h2><input type="text" name="cast"><br><br>

<input type="submit" value="Submit">
</form>
</div>
