<!-- views/pages/.ejs -->
<!DOCTYPE html>
<html lang="en">
<!-- head-->
  <header>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/bootstrap.css" rel="stylesheet">
    
    <% include ../partials/header %>
</header>

<body>
<body class="container">

<% include ../partials/adminstuff %>

</div>

<% include ../partials/footer %>
</body>
</html>