<!-- views/pages/.ejs -->
<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/bootstrap.css" rel="stylesheet">

<head>
  <% include ../partials/header %>
</head>

<body>
   <body class="container">


      <div>
        <h1 style="margin-left: 400px; margin-top: 30px;">Movie has been removed!</h1>
      </div>
      <br>
      <form style="margin-left: 400px; margin-top: 30px;" action="/admin">
          <input style="font-size:16px;" type="submit" value="Return" />
      </form>

    <footer>
      <% include ../partials/footer %>
    </footer>
</body>

</html>