<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <% include ../partials/header %>
</head>

<body>
   <body class="container">

      <div>
        <h1 style="margin-left: 400px; margin-top: 30px;">Data has been removed!</h1>
      </div>
      <br>
      <form style="margin-left: 400px; margin-top: 30px;" action="/admin">
          <input style="font-size:16px;" type="submit" value="Return" />
      </form>

    <footer>
      <% include ../partials/footer %>
    </footer>
</body>

</html>