<!DOCTYPE html>
<html lang="en">
<!-- head-->
  <header>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/bootstrap.css" rel="stylesheet">



    <title>Guestbook</title>

    <!-- Bootstrap core CSS -->



        <% include ../partials/header %>


</header>


  <body class="container">
    <content>

        <% include ../partials/form %>

    </content>




    <footer>

        <% include ../partials/footer %>

    </footer>


  </body>
  </html>